@import "tailwindcss";

@theme {
  --font-sans: "Nunito Sans Variable", "Nunito Sans", ui-sans-serif, system-ui,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

html,
body {
  background-color: #f7f8fa;
  font-family: "Nunito Sans Variable", "Nunito Sans", ui-sans-serif, system-ui,
    sans-serif;
}
